<!-- Section 5 ........................... -->
<section class="section5">
    <div>
        <h4>Latest Blog Posts</h4>
        <b>Blog Title One</b>
        <p>Expect of the blog post content. <a href="">Read more</a></p>
    </div>
    <div>
        <b>Blog Title One</b>
        <p>Expect of the blog post content. <a href="">Read more</a></p>
    </div>

</section>