<!-- Section 1 ........................... -->




<section id="section1">
    <div id="img1">
        <img src="https://static.vecteezy.com/system/resources/thumbnails/051/210/709/small_2x/celebration-presents-and-holidays-concept-cute-redhead-girl-looking-with-temptation-desire-at-gift-box-holding-wrapped-present-piece-of-delicious-b-day-cake-birthday-girl-want-unwrap-surprise-photo.jpg"
             alt="">
    </div>
    <div id="text1">
        <h1>Discover Amazing Products</h1>
        <p>Find the best deals on the latest trends in our store</p>
        <button type="button">Shop Now</button>
    </div>

</section>
