<!-- Section 3........................... -->

<section id="section3">
    <h1>What Our Clients Say</h1>
    <p><i>"This service is amazing! Highly recommend it to anything"</i></p>
    <p>
        <i>
            "Outstanding support and quality Products. Will come back again!"
        </i>
    </p>


</section>
