<section class="section6">
    <h3>Gallary</h3>
    <div class="gallery">
        <div id="gimg">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSKFeObKX8ahivPcD34ZOSoQewGQIWYPCBKi_3Iq6e5_mSXXYMB1WkcwimtkctHVwv08Ac&usqp=CAU"
                 alt="">
        </div>
        <div id="gimg">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQN8BePhuDEGbibxVnkb1EkYfS72zAYnhwb4w&s"
                 alt="">
        </div>
        <div id="gimg">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRNEuVhH4UGoEmiqzOWJny9FPN-vf0t4B0wdPtkNeQ3aQmZIggZtXBkq-s5ITpoTH-_a2c&usqp=CAU"
                 alt="">
        </div>

    </div>
</section>