<section class="section8">
        <h4>Contact Us</h4>
        <input type="text" name="" id="" placeholder=" Your Name">
        <input type="email" name="" id="" placeholder="Your Email">
        <textarea name="" id="" placeholder="Your Message"></textarea>
        <button type="button">Sent Message</button>

    </section>






